# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
.pnp/
.pnp.js
.vscode-test/

# Build output
# build/ 폴더 무시하지만 dist/는 업로드 허용
!dist/
dist-ssr/
.out/
.next/
.cache/
.svelte-kit/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment variables and secrets
.env
*.env
.env.*  # Exclude all environment files like .env.local, .env.production, etc.
.secret
.key
*.pem
*.p12

# Lockfiles
yarn.lock
package-lock.json
pnpm-lock.yaml